<ng-container [ngSwitch]="codeRetour">
  <form
    *ngSwitchDefault
    class="container"
    (ngSubmit)="onSubmit()"
    [formGroup]="formulaire"
  >
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="formulaire.get('email')?.hasError('email')"
        >Email invalid</mat-error
      >
      <mat-error *ngIf="formulaire.get('email')?.hasError('required')"
        >Email obligatoire</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="firstname" />
      <mat-error>Prénom obligatoire</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="lastname" />
      <mat-error *ngIf="formulaire.get('lastname')?.hasError('required')">
        Nom obligatoire
      </mat-error>

      <mat-error *ngIf="formulaire.get('lastname')?.hasError('minlength')">
        Nom trop court (minimum :
        {{ formulaire.get("lastname")?.getError("minlength").requiredLength }})
      </mat-error>
    </mat-form-field>

    <div>
      <input
        #fileSelector
        type="file"
        style="display: none"
        (change)="onImageSelectionne($event)"
      />
      <button
        mat-mini-fab
        type="button"
        color="accent"
        (click)="fileSelector.click()"
      >
        <mat-icon>attach_file</mat-icon>
      </button>
      <span>{{
        fichier != null ? fichier.name : "Aucun fichier sélectionné"
      }}</span>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Pays</mat-label>
      <mat-select formControlName="pays" [compareWith]="comparePays">
        <mat-option *ngFor="let pays of listPays" [value]="pays">
          {{ pays.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="action-buttons">
      <button mat-raised-button mat-raised-button color="primary" type="submit">
        {{ idUtilisateur == null ? "Ajouter" : "Modifier" }}
      </button>
      <a routerLink="/accueil" mat-raised-button color="warn" class="offset-1"
        >Annuler</a
      >
    </div>
  </form>

  <div *ngSwitchCase="404">
    <h2>{{ messageErreur }}</h2>
    <a mat-raised-button color="primary" routerLink="/accueil">
      Retour à l'accueil
    </a>
  </div>

  <div *ngSwitchCase="500">
    <h2>Erreur inconnue</h2>
    <p>Contacter l'administrateur en lui communiquant cette erreur</p>
    <pre>
    {{ messageErreur }}
  </pre
    >
    <a mat-raised-button color="warn"> Envoyer un rapport d'erreur </a>
    <a mat-raised-button color="primary" routerLink="/accueil">
      Retour à l'accueil
    </a>
  </div>
</ng-container>
